#content-JoinUs{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  background:
  radial-gradient(circle at 77vw calc(100vh - 10vw), #FFB9CD,
    #FFB9CD 30vw, transparent 30vw);
}

#ContactUsTitle{
  margin-left: 7vw;
  display: flex;
  align-self: flex-end;
  width: 100vw;
  font-size: calc(10px + 6vw + 1.3vh);
  color: #40BFB4;
  font-weight: 1000;
  letter-spacing: 0.3vw;
  font-family: 'HKGrotesk-Bold';
}

#ContactUsText{
  padding-top: 2vh;
  margin-left: 7vw;
  display: flex;
  align-self: flex-start;
  font-weight: bold;
  letter-spacing: 0.12vw;
  color: gray;
  font-size: calc(5px + 1.3vw + 0.5vh);
  font-family: 'HKGrotesk-Bold';
}
