#content-JoinUs{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  background:
  radial-gradient(circle at 77vw calc(100vh - 10vw), #FFB9CD,
    #FFB9CD 30vw, transparent 30vw);
}

#ContactUsTitle{
  margin-top: 20vh;
  margin-left: 7vw;
  display: flex;
  align-self: flex-end;
  width: 100vw;
  font-size: calc(75px + (75 - 30) * ((100vw - 320px) / (1600 - 320)));
  color: #40BFB4;
  font-weight: 1000;
  letter-spacing: 0.3vw;
  font-family: 'HKGrotesk-Bold';
  cursor: pointer;
}


#ContactUsText{
  padding-top: 2vh;
  margin-left: 7vw;
  margin-top: -2.5vh;
  display: flex;
  align-self: flex-start;
  font-weight: bold;
  letter-spacing: 0.12vw;
  color: gray;
  font-size: calc(20px + (20 - 5) * ((100vw - 320px) / (1600 - 320)));
  font-family: 'HKGrotesk-Bold';
  margin-bottom: -50vh;
}

#display{
  display: flex;
  width: 100vw;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  #content-JoinUs{
    margin-top: -90vh;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    background:
            radial-gradient(circle at 77vw calc(100vh - 10vw), #FFB9CD,
            #FFB9CD 30vw, transparent 30vw);
  }

  #ContactUsTitle{
    margin-top: 70vh;
    margin-left: 7vw;
    display: flex;
    align-self: flex-end;
    width: 100vw;
    font-size: calc(10px + 6vw + 1.3vh);
    color: #40BFB4;
    font-weight: 1000;
    letter-spacing: 0.3vw;
    font-family: 'HKGrotesk-Bold';
    cursor: pointer;
  }


  #display{
    display: none;
  }
}
