#riceApps{
  position: absolute;
  animation-name: appear;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

#title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 7.5vw;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.2vw;
  align-items: center;
  height: 100vh;
  background-color: #F2F2F2;
}

.initialText {
  animation-name: fade;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

#ds{
  display: flex;
  color: #40BFB4;
  width: 100vw;
  align-self: flex-end;
  justify-content: center;
}

#gray {
  color: gray !important;
  padding-right: 4vw;
}

#sg {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  font-weight: bold;
  color: #40BFB4;
}

#social {
  padding-right: 4vw;
}
