#logos {

  height: 60vh;
  width: 70vw;
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  /* flex-direction: column; */
}

#logosWrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 5vh;
}

#image {
  height: 11vw;
  width: 11vw;
  opacity: 0.7;
  padding-right: 9vh;
  padding-left: 9vh
}
#text {
  display: flex;
  justify-content: flex-start;
  padding-left: 5vw;
  margin-top: 5vh;
  font-size: calc(17px + 1.9vw + 0.4vh);
  color: #787878;
  /* SHREYACOLOR */
  font-family: 'Questrial', sans-serif;

}

@media only screen and (max-width:1200px) {
  #logos {

    height: 70vh;
    width: 90vw;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* flex-direction: column; */
  }

  #image {
    height: 19vw;
    width: 19vw;
    opacity: 0.7;
    padding-right: 5vh;
    padding-left: 5vh
  }
  #text {
    display: flex;
    justify-content: flex-start;
    padding-left: 5vw;
    margin-top: 5vh;
    font-size: calc(25px + 1.9vw + 0.4vh);
    color: #787878;
    /* SHREYACOLOR */
    font-family: 'Questrial', sans-serif;

  }
}

@media only screen and (max-width:749px) {
  #logos {

    height: 70vh;
    width: 90vw;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* flex-direction: column; */
  }

  #image {
    height: 25vw;
    width: 25vw;
    opacity: 0.7;
    padding-right: 3vh;
    padding-left: 3vh
  }
  #text {
    display: flex;
    justify-content: flex-start;
    padding-left: 5vw;
    margin-top: 5vh;
    font-size: calc(15px + 1.9vw + 0.4vh);
    color: #787878;
    /* SHREYACOLOR */
    font-family: 'Questrial', sans-serif;

  }
}
