#logos {

  height: 60vh;
  width: 70%;
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  /* flex-direction: column; */
}

#logosWrapper {
  display: flex;
  width:100%;
  justify-content: center;
  margin-top: 5vh;
}

#image {
  height: 10vw;
  width: 10vw;
  opacity: 0.7;
  padding-right: 9vh;
  padding-left: 9vh
}
#text {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  margin-top: 5%;
  font-size: 2vw;
  color: #787878;
  font-family: 'Questrial', sans-serif;

}
#trash {
  /* background-color: blue; */

}
