.projectsPageWrapper {
  height: 100vh;
  background:
  radial-gradient(circle at 5vw 0, #FFB9CD,
    #FFB9CD 35vw, transparent 35vw);
}

.projectsPageWrapper h1 {
  color: #008F82;
  font-size: calc(20px + (25-20) * ((100vw - 320px) / (1600 - 320)));
  font-weight: bold;
}

.projectText {
  color: white;
  font-size: calc(12px + (18-12) * ((100vw - 320px) / (1600 - 320)));
  width: 15vw;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.circle {
  background: #F1F1F1;
  border-radius: 50%;
  height: calc(130px + (180-130) * ((100vw - 320px) / (1600 - 320)));
  width: calc(130px + (180-130) * ((100vw - 320px) / (1600 - 320)));
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  transition: background 0.5s ease-in-out;
}

.circle:hover {
  background: rgba(64, 191, 180, 0.8);
}

.circle:hover .projectText{
  opacity: 1;
}

.circle .airbnb {
  position: absolute;
  height: calc(14px + 7vh + 14vw);
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.circle:hover .airbnb {
  opacity: 0;
}


#beakspeak {
  margin-top: 12vh;
  margin-left: 9vw;
  height: 40vh;
  width: 40vh;
  position: absolute;
}

#BsTitle {
  margin-top: calc(9px + 4vh + 7.5vw);
  margin-left: calc(9px + 2.5vh + 4vw);
  position: absolute;
  z-index: 2;
}

#riceelections {
  margin-top: 5vh;
  margin-left: 70vw;
  height: 35vh;
  width: 40vh;
  position: absolute;
}

#RETitle {
  margin-top: 0vh;
  margin-left: calc(7px + 1vh + 2vw);
  width: calc(6px + 8vh + 14vw);
  position: absolute;
  z-index: 2;
}

#coffeehouse {
  margin-top: 55vh;
  margin-left: 20vw;
  height: 35vh;
  width: 35vh;
  text-align: right;
  position: absolute;
}

#hedwig {
  margin-top: 25vh;
  margin-left: 45vw;
  height: 35vh;
  width: 35vh;
  text-align: right;
  position: absolute;
}

#ChSTitle {
  margin-top: calc(4px + 4vh + 7.5vw);
  margin-left: -5vw;
  width: 15vw;
  position: absolute;
  z-index: 2;
}

#ricebikes {
  margin-top: 60vh;
  margin-left: 65vw;
  height: 35vh;
  width: 35vh;
  position: absolute;
}

#RBTitle {
  margin-top: 0vh;
  margin-left: 0vw;
  position: absolute;
  z-index: 2;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #008F82;
}
