.project-template-wrapper {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.column {
    flex: 50%;
}

#project-icon {
    background-color: #6E6E6E;
    border-radius: 50%;
    height: calc(16px + 7vh + 14vw);
    width: calc(16px + 7vh + 14vw);
    align-self: center;
    margin-top: 2vh;
}

#project-name {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}

#github-wrapper {
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: center;
}

#achievement {
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}

#heading-section {
    align-self: center;
}

#bottom-section {
    display: flex;
}

#prob-sol {
    padding-left: 8vw;
    padding-right: 8vw;
}

#tech-used {
    padding-left: 8vw;
    padding-right: 8vw;
}

#bottom-section {
    margin-top: 4vh;
    margin-bottom: 4vh;
}
