.TestmonialsWrapper {
  height:100vh;
  
  
}
.grayCircle{
  height: 100vh;
  background: white;
  align-items: center;
  justify-content: center;
  display: flex;
  background:
  radial-gradient(circle at center 20vw, #A9A9A9,
    #A9A9A9 8vw, transparent 8vw);
}
