.TestmonialsWrapper {
  height:100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
  radial-gradient(circle at center 15vw, #A9A9A9,
    #A9A9A9 8vw, transparent 8vw);
}
