.whatWeDoPageWrapper{
  height: 70vh;
  /* z-index: 1; */
  background: white;
}

.whatWeDoPageWrapper h1{
  color: white;
  font-weight: bold;
  font-size: calc(5px + 1.3vh + 1.7vw);
}

#treeBackground {
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),/* the gradient on top, adjust color and opacity to your taste */
url('../images/RiceApps2018 016.JPG');


  display: flex;
  align-items: center;
  justify-content: center;

  z-index: -99;

  background-size: 100%;
}


@media only screen and (max-width:1680px) {
  #treeBackground {
    background-attachment: inherit;
    height: 50vh;
  }
}

@media only screen and (max-width:749px) {
  #treeBackground {
    background-attachment: inherit;
    height: 27vh;
  }
}
