
/* Start of menu CSS */
.sidebarHidden{
  display: none;
}
.sidebarUnhidden{
  display: block;
  display: flex;
  flex-direction: row;
  color:#787878;
}
#menuWrapper{
  position: fixed;
  width: 100vw;
  height: 20vh;
  align-self: flex-start;
  flex-direction: row;
  
}
.sidebar{
  font-size:4vh;
  margin-left: 0vh; 
}

#sidebar{
}

button{
  outline:none;
}

#menubar{
  position: absolute;
  z-index: 100;
}
/* End of menu CSS */
