
/* Start of menu CSS */
#menuWrapper{
  position: fixed;
  align-self: flex-start;
  justify-content: flex-start;
  width: 20vw;
  height: 100vh;
}
.sidebar{
  font-size:4vh;
  margin-left: 4vh;
}
.sidebarHidden{
  display: none;
}
.sidebarUnhidden{
  display: block;
}
.sidebar-text{
  color:#002FA4;
  margin-top: 4vh
}
.blueMenu{
  background: white;
}
button{
  outline:none;
}

#menubar{
  position: absolute;
  z-index: 100;
}
#contents{
  z-index: 20;
}
/* End of menu CSS */
