
/* Start of menu CSS */
.sidebarHidden{
  display: none;
}
.sidebarUnhidden{
  display: block;
  display: flex;
  flex-direction: row;
  color:#002FA4;
  /*justify-content: space-between;*/
}
#menuWrapper{
  position: fixed;
  align-self: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 20vh;
  
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.sidebar{
  font-size:4vh;
  margin-left: 0vh;
}

button{
  outline:none;
}

#menubar{
  position: absolute;
  z-index: 100;
}
/* End of menu CSS */
