
/* Start of menu CSS */

.sidebarText{
  /* display: block; */
  padding-left: 7vw;
  padding-right: 3vw;
  display: flex;
  flex-direction: row;
  color:#D2D2D2;
  font-family: 'HKGrotesk-Bold';
}


#menu {
  width: 100vw;
  /* height: 20vh; */
  height: 10vh;
  background-color: white;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
  transition: transform 0.5s ease-out;
  transform: translateY(-10vh);
  position: fixed;
  z-index: 99;
  border-bottom: 1px solid #e6e6e6;
}

#menu.open {
  transform: none;
}

button{
  outline:none;
  position: fixed;
  z-index: 100;
}
#hamburger {
  z-index: 100;
  margin-left: 1vw;
  margin-top: 1.5vh;
}

/* End of menu CSS */
